@{
    ViewBag.Title = "About";
}
<main aria-labelledby="title">
    <h2 id="title">@ViewBag.Title.</h2>
    

    <p>Island is an app for Iranians all over the world to connect with each other.</p>
</main>